<h1 class="title">All Dogs</h1>

<div class="dogs-container">
  <% @dogs.each do |dog| %>
    <div class="dog-card">
      <div class="dog-info">
        <strong>Name:</strong> <%= dog.name %> <br>
        <strong>Age:</strong> <%= dog.age %> years<br>
        <strong>Breed:</strong> <%= dog.breed.name %> <br>
        <% if dog.sub_breed.present? %>
          <strong>Sub-Breed:</strong> <%= dog.sub_breed.name %> <br>
        <% end %>
        <strong>Description:</strong> <%= dog.description %> <br>
        <strong>Traits:</strong> 
        <% if dog.traits.any? %>
          <ul>
            <% dog.traits.each do |trait| %>
              <li><%= trait.name %></li>
            <% end %>
          </ul>
        <% else %>
          <p>No traits available.</p>
        <% end %>
      </div>

      <% if dog.image.attached? %>
        <div class="dog-image">
          <%= image_tag dog.image, alt: dog.name, class: "dog-img" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
